<div class="footer">    
    <div id="h3"> 
        <div class="container2">
            <h3>VISIT US</h3>

            <div class="text-footer"><p>CodeSquad Comics <br>
            123 Dorchester Avenue <br>
            Boston, MA 02124</p>
            </div>
        </div>
    
        <div class="container2">
        <h3>LINKS</h3>
        <a href="https://example.com/" target="_blank" rel="noopener noreferrer">Home</a><br>
        <a href="about.html">About</a><br>
        <a href="login.html">Login</a><br>
        </div>

        <div class="container3">
            <h3>FOLLOW US</h3>
            <a href="https://www.facebook.com/" rel="external"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
        </div>

        <div class="container4"> <h3>A PRODUCT OF</h3>
            <div class="image" ></div>
        </div>
    </div>
</div>