<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>CodeSquad Comics</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <script src="https://kit.fontawesome.com/ecf487572c.js" crossorigin="anonymous"></script>
        <script defer src=scripts.js></script>
    </head>
<body>