<nav class="navbar">
    <ul class="menuItems">
            <li><a href="https://example.com/" target="_blank" rel="noopener noreferrer">HOME</a></li> <!--Is this the correct way to write a secure external link?-->
            <li><a href="#">ABOUT</a></li>
            <li><a href="login">LOGIN</a></li>
        </ul>
    </nav>