
body {
     width: 100%;
     max-width: 100vw;
     margin: 0;
     overflow-x:hidden;
     background-image: linear-gradient(#FFFFFF, #009E9E);
     
 }


 a:link {
     color:white;
     text-decoration: none;
 }
 a:visited {
     color:rgba(202, 202, 202, 0.801)
 }
 
a:hover{
     color:yellow;
     font-weight: bold;
}

a:active{
     color:#063C5E;
     font-weight: bold;
     background-color: #FCCF14;
}

 .nav-header{
     /* background-image: url('CodeSquad-Comics-logo.png'); */
     padding: 0px;
     
     margin-top: 0px;
     height: auto;
     background-position:absolute;
 }   
 
 .container1 { /*image stlying*/
     display:block;
     padding-top:80px;
     padding-left: 45px;
     padding-bottom: 20px;  
     margin: 0px 0px 30px 0px; 
     background-position:static;
     background-color: #063C5E;
     
     background-image: url('/public/styles/CodeSquad-Comics-logo.png');
     background-size:280px; /*changes image size*/
     
     background-repeat: no-repeat;
     
 }

 .container1 li{
     list-style-type: none; /* no bullets*/
     display: inline-block;
     padding: 30px 40px 5px 50px;    
 }

.h1 {
     color: #063C5E;
     text-align: center;
}

.h2{
     color:#063C5E;
     text-align: center;
}

 .about-collection {
      padding: 30px;
      border: 5px #063C5E solid;
      background-position: center center ;
      background-color:#FFFFFF;
      width:70%;
      margin:60px;  
      max-width: 610px;   
      min-width: 610px;
      
}


/* bottom of page footer */
.footer{
     border-top: 5px #FCCF14 solid;
     padding:20px;
     background-color: #063C5E;
     width: 100%;
}
.text-footer{
     color:#FFFFFF;
}
#h3 {
     font-size: 16px;
     color:#FCCF14
}

.container2{
     display: inline-block;
     margin:20px;

}

.container3{
     display:inline-block;
     margin:20px;
}


.container4 {
     display: inline-block;
     /* border: 5px solid yellow; */
     padding-bottom: 80px;
     padding-top:0px;
     margin: 20px;
     position: absolute;

     background-image: url('/public/images/CodeSquad-logo-b.png');
     background-size: 90px;
     background-repeat: no-repeat;
     background-position:center;
     padding-left:0px
}    

.image{
     
     background-size: 80px;
     /* background:no-repeat; */
     /* background-position: relative; */
     /* width: 50px; */
     /* height: 50px; */
     /* padding:0px; */
     /* margin:0px; */
}


/* admin page */
.admin-body{
     border: 5px solid #063C5E;
     margin-bottom: 20px;
     background-color: #FFFFFF;
     width: 70%;
     background-position: center center;
     margin-left: 70px;

     padding-bottom: 30px;
}

.create-body{
     border: 5px solid #063C5E;
     margin-bottom: 20px;
     background-color: #FFFFFF;
     width: 70%;
     background-position: center center;
     margin-left: 70px;

     padding-bottom: 30px;
     padding-left:40px;
}
/*index page*/
.intro{
     border: 5px solid #063C5E;
     padding:30px;
     background-color: #FFFFFF;
     width: 70%;
     background-position: center center;
     margin-left: 70px;
}

.collection-body{
     border: 5px solid #063C5E;
     padding:30px;
     margin: 70px;
     width: 70%; 
     background-position: center center;
     background: #FFFFFF;
}