<%- include('../partials/head') -%>
    <div class="body-color">

    <div class="container1">
        <i class="fa fa-bars"></i>
        <%- include('../partials/nav') -%>
    </div>
    
<div class="about-collection">  
    <div class="h1"><h1>ABOUT CODESQUAD COMICS</h1></div>
    <p>CodeSquad Comics is a collection of graphic novels read by Lisa. Copyrighted images are used for review purposes only.
    Meta information about this
    collection can be found below. A detailed list of all the graphic novels in this collection can be found on the homepage. Additional details about each comic book, 
    including the author, genre, number of pages, and a brief synopsis, can be found by navigating to the homepage and clicking the image of the bookcover or the 
    Details link for the desired graphic novel.</p>

    <h2 class="h2">COLLECTION DETAILS</h2>
        <ul class="list">
            <li>total comic books: 12</li>
            <li>latest additions: 12</li>
            <li>5-star ratings: 5</li>
            <li>publishers: 9</li>
        </ul>
</div>


<div class="footer">    
    <div id="h3"> 
    
        <div class="container2">
            <h3>VISIT US</h3>

            <div class="text-footer"><p>CodeSquad Comics <br>
            123 Dorchester Avenue <br>
            Boston, MA 02124</p>
            </div>
        </div>
    
        
    
        <div class="container2">
        <h3>LINKS</h3>
        <a href="index.html">Home</a><br>
        <a href="#">About</a><br>
        <a href="login.html">Login</a><br>
        </div>
    

    
        <div class="container3">
        <h3>FOLLOW US</h3>
        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
        <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
        </div>
    
    
        <div class="container4"> 
            <h3>A PRODUCT OF</h3>  
        </div>
    
    </div>
    
</div>    
</body>

</html>
