<%- include('../partials/head') -%>
   
<div class="body-color">

        <div class="container1">
            <i class="fa fa-bars"></i>
            <%- include('../partials/nav') -%>
        </div>
    <div class="intro">
        <div class="title">
        <h1>CODESQUAD COMICS</h1></div>
            <p>CodeSquad Comics is a colletion of graphic novels read by Lisa. This site is intended to display comic book covers along with information about each
            book, including the author, a rating, and other details about the graphic novel. Browse throught the complete collection below. Click on the cover image or the
            Details link to see even more information for each graphic novel including the publisher, genre, number of pages, and a brief synopsis. The About pages includes
            meta information about this collection. Login is only available to the site administrator at this time.</p>
    </div>

    <div class="collection-body">
        <div class="complete-title">
            <h2>COMPLETE COLLECTION</h2>
        </div>
    <div id="all-images">
        <div class="comic-text">
    <div class="fun-home"> 
            <div><img class="comic-img" src="images/fun-home.jpg"/></div>
            <span class="emphasis">Fun Home: A Family Tragicomic</span><br>
            by Alsion Bechdel <br>
            5 stars <br>
            <a class="all-images__link" href="#">Details</a>
        </div>
    </div> 

    <div class="watchmen">
    
        <div class="comic-text">
            <div >
                <img class="comic-img" src="images/watchmen.jpg" />
                </div>
        <span class="emphasis">Watchmen</span><br>
        by Alan Moore <br>
        5 stars <Br>
        <a class="all-images__link" href="#">Details</a>
        </div>
    </div>
 
<div class="hunter">
    <div class="comic-text">
        <div >
            <img class="comic-img" src="images/hunter-x-hunter.jpg" />
            </div>
        <span class="emphasis">Hunter X Hunter Vol. 1</span><br>
        by Yoshihiro Togashi 5 stars<br>
        <a class="all-images__link" href="#">Details</a>
    </div>
</div>

<!-- <div class="last-three-comics"> -->
<div class="lumberjanes">
    <div class="comic-text">
        <div >
            <img class="comic-img" src="images/lumberjanes.jpg"/>
            </div>
        <span class="emphasis">Lumberjanes Vol. 1</span><br>
        by Noelle Stevenson <br> 
        4 stars<br>
        <a class="all-images__link" href="#">Details</a>
    </div>
</div>

<div class="one-piece">
    <div class="comic-text">
        <div >
            <img class="comic-img" src="images/one-piece.jpg" />
            </div>
        <span class="emphasis">One Piece, Vol. 1: Romance Dawn</span><br>
        by Eiichiro Oda<br> 
        5 stars<br>
        <a class="all-images__link" href="#">Details</a>
    </div>
</div>

<div class="wake">
    
    <div class="comic-text">
        <div>
            <img class="comic-img" src="images/wake.jpg" />
            </div>
        <span class="emphasis">Wake: The Hidden History of Women-Led Slave Revolts</span><br>
        by Rebecca Hall<br> 
        4 stars<br>
        <a class="all-images__link" href="#">Details</a>
    </div>
</div>
<!-- </div> -->



<div class="last-three-comics">
<div class="black-panther">
    <div class="comic-text">
        <div >
            <img class="comic-img" src="images/black-panther.jpg" />
            </div>
        <span class="emphasis">Black Panter: A Nation Under Our Feet Book 1</span><br>
        by Ta-Nehisi Coates<br> 
        3 stars<br>
        <a class="all-images__link" href="#">Details</a>
    </div>
</div>

<div class="walking">
    <div class="comic-text">
        <div >
            <img class="comic-img" src="images/the-walking-dead.jpg" />
            </div>
        <span class="emphasis">The Walking Dead, Vol 1: Days Gone Bye</span><br>
        by Robert Kirkman<br> 
        4 stars<br>
        <a class="all-images__link" href="#">Details</a>
    </div>
</div>

<div class="march">
    <div class="comic-text">
        <div >
            <img class="comic-img" src="images/march.jpg" />
            </div>
        <span class="emphasis">March: Book One</span><br>
        by John Lewis<br> 
        5 stars<br>
        <a class="all-images__link" href="#">Details</a>
    </div>
</div>
</div>


<div class="batman">
    <div class="comic-text">
        <div >
            <img class="comic-img" src="images/batman.jpg" />
            </div>
    
        <span class="emphasis">Batman: The Dark Knight Returns</span><br>    
        by Frank Miller<br> 
        3 stars<br>
        <a class="all-images__link" href="#">Details</a>
    </div>
</div>

<div class="queer">
    
    <div class="comic-text">
        <div >
            <img class="comic-img" src="images/queer.jpg" />
            </div>
        <span class="emphasis">Queer: A Graphic History</span><br>
        by Meg-John Barker<br> 
        4 stars<br>
        <a class="all-images__link" href="#">Details</a>
    </div>
</div>

<div class="parable-class">
    <div class="comic-text">
        <div >
            <img class="comic-img" src="images/parable-of-the-sower.jpg" />
            </div>
        <span class="emphasis">Parable of the Sower</span><br>
        by Octavia E. Butler<br> 
        4 stars<br>
        <a class="all-images__link" href="#">Details</a>
    </div>
</div>

</div> 

<input class= "button3" type="submit" value="Display More">

</div> 

<%- include('../partials/footer') -%>
    
</div>
</body>
</html>
