<%- include('../partials/head') -%>
    <div class="body-color">

        <div class="container1">
            <i class="fa fa-bars"></i>
            <%- include('../partials/nav') -%>
        </div>

    <div class= "login-container">
    <div class="login-title"><h1>REGISTER</h1></div>
    <form action="/register" method="POST"> 
    <div class="login-email-pass">    
        <div class="login-email"> 
            <label for="email address">Email address:</label>
            <input type="email address" id="email address" name="email address" value="Email">
        </div>
        
        <div class="login-password"> 
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="Password">
        </div>
        <br>
    </div>    
        <input type="submit" class="button1" value="Submit">  
        
    </div>
    </form>
    </div>      
    <%- include('../partials/footer') -%>
    </body>
    </html>