
body {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    overflow-x:hidden;
    background-color: whitesmoke;
}

a:link {
    color:white;
}
a:visited {
    color:rgba(202, 202, 202, 0.801)
}

.nav-header{
    /* background-image: url('CodeSquad-Comics-logo.png'); */
    padding: 0px;
    
    margin-top: 0px;
    height: auto;
    background-position:absolute;
}   

.container1 { /*image stlying*/
    display: block;
    padding-top:80px;
    padding-left: 45px;
    padding-bottom: 20px;  
    margin: 0px 0px 30px 0px; 
    background-position:static;
    background-color: #063C5E;
    
    background-image: url('CodeSquad-Comics-logo.png');
    background-size:280px; /*changes image size*/
    
    background-repeat: no-repeat;
}

.container1 li{
    list-style-type: none; /* no bullets*/
}

.card {
    border:5px #fccf14 solid;
    margin:20px 70px;
    border-radius:40px;   
}

/*index page*/
.card-top { 
    font-family: 'Times New Roman', Times, serif;
    color: #fccf14;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 5px 0px 400px 0px; 
    background-color: #063C5E;
    border-radius: 37px 37px 0px 0px;
    border-bottom: #fccf14 5px solid;

    background-image: url('fun-home.jpg');
    background-size: 250px;
    background-position: center center;
    background-repeat: no-repeat;
}

.card-bottom {
    background-color: #fff;
    background-size: 100%;
    padding: 15px 30px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;    
}


